body {
  font-family: var(--ff);
  background: var(--c-dark1);
  color: var(--c-white);
}

/*html._overflow {
  overflow: hidden;
  body {
    overflow: hidden;
  }
}*/

a {
  color: var(--c-white);
}

.container {
  max-width: calc(1140px + 40px);
  padding: 0 20px;
  width: 100%;
  margin-inline: auto;
}

/*section {
  padding-bottom: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}*/

.btn {
  display: inline-block;
  cursor: pointer;
  color: var(--c-white);
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 13px 18px;
  transition: var(--transition);

  &_primary {
    background: var(--c-primary);
    &:hover {
      background: lighten($c-primary, 10%);
    }
  }

  &_secondary {
    border: 1px solid var(--c-primary);
    background: transparent;
    &:hover {
      background: var(--c-primary);;
    }
  }
}

.title {
  color: var(--c-white);
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 17px;
  @include mobile {
    font-size: 28px;
  }
  span {
    color: var(--c-primary);
  }
}

.desc {
  max-width: 460px;
  color: var(--c-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 40px;
  @include mobile {
    font-size: 14px;
  }
}
.brake{
  padding-top: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
