.portfolio {
  padding-top: 90px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
    @include tablet-small {
      grid-template-columns: 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr;
      display: none;
    }
  }
}

.portfolio-item {
  border-radius: 8px;
  position: relative;
  &:hover{
    .portfolio-item__search{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
  }

  &__search {
    cursor: pointer;
    width: 76px;
    height: 76px;
    background: var(--c-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: var(--transition);
    transform: translate(-50%, -50%) scale(0);
  }

  &__img { 
    border-radius: 8px;
    overflow: hidden;
    img {
      border-radius: 8px;
      width: 100%;
      object-fit: cover;
      transition: var(--transition);

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

.portfolio-item__img_slider{
  padding-bottom: 14px;
     img{
      &:hover {
        transform: scale(1);
      }
     }
}

.image-slider {
  display: none;
  border-radius: 8px;
  @include mobile {
    display: block;
  }

  &__wrapper {
  }

  &__slide {
  }


}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after{
  color: var(--c-primary);
  font-size: 35px;
  font-weight: 700;
}

.swiper-pagination{
  color: var(--c-primary);
}

.image-slider .swiper-pagination-bullet{
  background-color: var(--c-primary);
  font-size: 40px;
  width: 10px;
  height: 10px;
}

.image-slider .swiper-pagination{
 bottom: 0px;
}



.portfolio-item-slider{
padding: 0 50px;
}