.pricing {
  padding-top: 90px;

  &__list {
    display: flex;
    gap: 26px;
    @include tablet-small{
        flex-direction: column;
    }
  }

  &__btn {
    margin: 35px 0;
  }
}

.pricing-item {
  padding: 32px;
  border-radius: 8px;
  background: var(--c-dark2);



  &__title {
    color: var(--c-white);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__price {
    color: var(--c-white);
    font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__desc {
    color: var(--c-body);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  &__container{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__point-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    img {
      flex-shrink: 0;
    }
  }

  &__point-desc {
    color: var(--c-body);
    font-size: 16px;
    font-weight: 400;

    @include tablet{
        font-size: 14px;
    }
  }
}
