.welcome {
  margin-top: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 63px;
  @include tablet {
    flex-direction: column-reverse;
    gap: 75px;
  }

  @include mobile {
    gap: 50px;
    margin-top: 10px;
  }

  &__info {
  }

  &__title {
    color: var(--c-white);
    font-size: 92px;
    font-weight: 700;
    margin-bottom: 24px;
    @include desktop-small {
      font-size: 70px;
    }

    @include mobile {
      font-size: 40px;
    }
  }

  &__roles {
    display: flex;
    gap: 27px;
    color: var(--c-white);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include desktop-small {
      font-size: 16px;
      gap: 20px;
    }

    @include mobile {
      flex-direction: column;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 12px;
      gap: 20px;
      small {
        display: none;
      }
    }
  }

  &__desc {
    color: var(--c-body);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24px;
    max-width: 557px;
    @include desktop-small {
      font-size: 14px;
    }
  }

  /*&__btn {
  }*/

  &__img {
    flex-shrink: 0;
    border-radius: 50%;
    border: 10px solid var(--c-primary);
    box-shadow: 0px 15px 14px 0px rgba(0, 0, 0, 0.59);
    max-width: 460px;
    width: 100%;
    aspect-ratio: 1;
    @include desktop-small {
      flex-shrink: initial;
    }
    @include mobile {
      width: 65%;
    }

    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
